* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #1f242d;
}

body {
    background: #07090c;
    color: #fff
}

// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     padding: 20px, 10px;
//     background: transparent;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     z-index: 100;
// }

// .logo {
//     font-size: 25px;
//     color: #fff;
//     text-decoration: none;
//     font-weight: 600;
//     cursor: default;
//     opacity: 0;
//     animation: slideRight 1s ease forwards;
// }

// .navbar a {
//     font-size: 18px;
//     color: #fff;
//     text-decoration: none;
//     font-weight: 500;
//     margin-left: 35px;
// }

// .navbar a:hover,
// .navbar {
//     color: #0ef;
// }

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #fff;
}

.home-content p {
    font-size: 20px;
    color: #fff;
}

.home-img {
    max-width: 450px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .10s ease;
}

.social-media a:hover {
    background-color: #0ef;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

/* KEYFRAMES ANIMATION */
// @keyframes slideRight {
//     0% {
//         transform: translateX(-100px);
//         opacity: 0;
//     }

//     100% {
//         transform: translate(0);
//         opacity: 1;
//     }

// }

.img1 {
    border-radius: 100%;
    width: 345px;
    margin-right: 110px;
    border: 5px solid #0ef;
    box-shadow: 0 0 100px #0ef;

}

.aboutme {
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    color: #fff;
}

.about h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #fff;
}

.aboutme p {
    font-size: 20px;
    color: #fff;
}

.about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    // align-items: center;
    padding: 70px 10% 0;
}

.about-img {
    max-width: 450px;
}

.img {
    // border-radius: 0%;
    width: 365px;
    margin: 70px -40px -80px 0px;
    border: 10px solid #1f242d;

}

.about h3 {
    color: #0ef;
}


.skill {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    color: #fff;
    height: 100vh;
    position: relative;
    width: 100%;

    padding: 70px 10% 0;
}


.skill p {
    font-size: 20px;
    color: #fff;
}

.skill h3 {
    color: #fff;
    font-size: 20px;

}

.skill h2{
    color: #0ef
}

.HTML {
    width: 100px;
    margin: 40px;
    border-radius: 100%;
}

.CSS {
    width: 100px;
    margin: 44px;
    border-radius: 100%;
}

.JavaScript {
    width: 100px;
    margin: 40px;
    border-radius: 100%;
}

.Angular {
    width: 100px;
    margin: 40px;
    border-radius: 100%;
}

.GitHub {
    width: 100px;
    margin: 40px;
    border-radius: 100%;
}

.skill-content {
    display: inline-flex;
    text-align: center;
    padding: 70px 15% 0;

    border-radius: 0;
    color: #fff;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #1f242d;
    
}

body {
    background: #1f242d;
}

.contact{
    position: relative;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    padding: 70px 13% 0;
    color: darkcyan;
}

.Contact-scl {
    margin-left: 50px;
}

.Contact-scl a:hover {
    background: linear-gradient(45deg,rgb(255,153,0));
    box-shadow: 0 0 30px #0ef;
}

.contact-nav a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.contact-nav a:hover{
    color: #0ef;
}

.contact-nav{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    
}

.Contact-scl a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 4px solid #0ef;
    border-radius: 100%;
    font-size: 40px;
    color:rgb(165, 71, 129);
    text-decoration: none;
    margin: 30px 15px 30px 10px;
    transition: .10s ease;
}

// .social-media a {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     width: 40px;
//     height: 40px;
//     background: transparent;
//     border: 2px solid #0ef;
//     border-radius: 50%;
//     font-size: 20px;
//     color: #0ef;
//     text-decoration: none;
//     margin: 30px 15px 30px 0;
//     transition: .10s ease;
// }

@media (min-width:375px) and (max-width:1023px) { // mobile view 
    .home{
       position: static;
       
       display: flex;
        flex-direction: column;
       .home-content{
        width:90%;
        
        h1{
            font-size: 48px;
        }
       }
       .home-img {
        .img1 {
            display: inline-block;
        }
        display: block;
        
        width: 100%;
    }


    }
    
    .about{
        position: static;
       
        display: flex;
        flex-direction: column;
        .aboutme{
            float: left;
            display: flex;
            width: 100%;
            flex-direction: column;
            p{
                height: auto;
            }
        }
        
    }
    .about .about-img{
        width: 100%;
     
        display: flex;
        flex-direction: row;
         
    }
    .skill{
        position: static;
        .skill-content{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .contact{
        padding: 0px;
        .contact-nav{
            a.first{
                margin-left: 0px;
            }
        }
    }


}

@media (min-width:768px) and (max-width:1023px) { // tablet view 
    
}

