<section id="Home" class="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Bharathidasan</h1>
        <h3>And I am a <span>Front End Developer</span></h3>
        <p>A Front-End Developer is a professional responsible for creating the visual elements of a website.</p>


        <div class="social-media">
            <a href="https://www.facebook.com/bharathi.dasan1?mibextid=ZbWKwL"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/bharathi.dasan1/"><i class='bx bxl-instagram'></i></a>
            <a href="https://github.com/bharathi12-cse"><i class='bx bxl-github'></i></a>
            <a href="mailto:bharathi12.cse@gmail.com"><i class='bx bxl-gmail'></i></a>
        </div>
        <a href="../../assets/Resume.pdf" class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="../../assets/image 2-PhotoRoom (2).jpg" class="img1">
    </div>

</section>

<section id="About" class="about">

    <div class="about-img">
        <img src="../../assets/software-engineer-graphic.webp" class="img">
    </div>

    <div class="aboutme">

        <h3>About Me</h3><br>

        <p>Hello there! I'm a Engineering graduate with a keen interest in front-end development and a genuine
            enthusiasm for creating engaging and user friendly digital experiences.</p><br>

        <p>I am Passionate about pixel-perfection, I code with a keen eye
            for detail, turning design visions into interactive and
            captivating user interfaces</p> <br>
        <p> In the ever-evolving landscape of front-end development,
            I thrive on adapting to new technologies, ensuring that
            every line of code enhances the user's journey</p>

    </div>

</section>

<section id="Skills" class="skill">
    <div>
        <h2>Skills</h2><br>

        <p>Skill set includes: HTML5, CSS3, JavaScript, Angular 2.0, Git, and Responsive Design.</p><br>

        <p>A dedicated and skilled front-end developer in creating responsive and visually appealing web applications.
            Seeking a challenging role where I can leverage my expertise in Jambhavan software Systems Pvt Ltd to
            contribute to innovative and user-friendly projects.</p>

    </div>

    <div class="skill-content">

        <div>
            <img src="../../assets/Html.jpg" class="HTML">
            <h3>HTML</h3>
        </div>
        <div>
            <img src="../../assets/CSS.jpg" class="CSS">
            <h3>CSS</h3>
        </div>
        <div>
            <img src="../../assets/Javascript.jpg" class="JavaScript">
            <h3>JavaScript</h3>
        </div>
        <div>
            <img src="../../assets/Angular.jpg" class="Angular">
            <h3>Angular 2.0</h3>
        </div>
        <div>
            <img src="../../assets/Git hub.jpg" class="GitHub">
            <h3>Git Hub</h3>
        </div>

    </div>

</section>


<footer id="Contact" class="contact">
    <div>
        <div class="contact-nav">
            <a class="first" href="#Home">Home</a>
            <a href="#About">About</a>
            <a href="#Skills">Skills</a>
            <a href="#Contact">Contact</a>
            <br>
            <br>
            <h2>Contact Me</h2>
        </div>
        <div class="Contact-scl">
            <a href="https://www.facebook.com/bharathi.dasan1?mibextid=ZbWKwL"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/bharathi.dasan1/"><i class='bx bxl-instagram'></i></a>
            <a href="https://github.com/bharathi12-cse"><i class='bx bxl-github'></i></a>
            <a href="mailto:bharathi12.cse@gmail.com"><i class='bx bxl-gmail'></i></a>
        </div>
        <p>Copyright © 2023 - All right reserved.</p>
    </div>

</footer>